{% extends '_layout' %}

{% block main %}

    {% for entry in craft.entries.section('startsida').limit(1).all() %}

        <!-- Banner -->
        <section id="banner" style="background-image: url('/assets/images/banner.jpg');">
            <div class="inner">
                <h1>{{ entry.rubrik }} <span>{{ entry.underrubrik }}</span></h1>
                <ul class="actions">
                    <li><a href="#" class="button alt">See our offers</a></li>
                </ul>
            </div>
        </section>
        <!-- End Banner -->

        <!-- One: Welcome text -->
        <section id="one">
            <div class="inner fisherman-bg">
                <header>
                    <h2>{{ entry.rubrikAbout }}</h2>
                </header>
                {{ entry.beskrivningAbout }}
                <hr>
                <div class="social-media">
                    <h3>Visit us on social medias</h3>
                </div>
            </div>
        </section>
        <!-- End One: Welcome text -->

        <!-- One: Image gallery -->
        <section id="one" style="background-color: #f7f7f7; background-image: none;">
            <div class="inner">
                <h3>Fhising with Pikestrike</h3>
                <div class="box alt">
                    <div class="row 50% uniform">
                        {% for asset in entry.bildgalleri %}
                            <div class="4u"><span class="image fit"><img src="{{ asset.url }}" alt=""></span></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- End One: Image gallery -->

		<!-- Partners section -->
		<section id="partners">
			<div class="inner">
				<header>
					<h3>Our partners</h3>
				</header>
				<p>skriver</p>
			</div>
		</section>
        <!-- End Partners section -->

    {% endfor %}

{% endblock %}